ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0px 10px 50px;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
}

p {
  padding-left: 10px;
}

nav ul {
  height:300px;
  width:100%;
}

nav ul {
  overflow:hidden;
  overflow-y:scroll;
}

#backgroundWrapper {
  width: 100%;
    background: rgba(40, 96, 144, 0.11);
}

#wrapper {
  width: 60%;
  background: #D1D1D1;
}

.infoBox {
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid #c3b8b8;
}

.editable-click, a.editable-click {
  color: #000000 !important;
  border-bottom: none !important;
}
