<div class="container-fluid">
  <div class="row">

    <div class="form-group col-xs-3">
      <input placeholder="Search" ng-model="query" class="form-control" />
      <nav>
      <ul>
        <li ng-repeat="alert in alertList | filter: query">
          <a ng-click="getItem(alert)"> {{alert.Name}} </a>
        </li>
      </ul>
    </nav>
    </div>

    <div class="col-xs-9 wrapper">
      <div id="backgroundWrapper">
        <div id="wrapper">

          <div class="infoBox">
            <h5> <i class="fa fa-info-circle" aria-hidden="true"></i> ID</h5>
          </div>
          <a href="#" editable-text="theAlert.Id" onbeforesave="checkField($data)" >{{ theAlert.Id || '' }}</a>

          <div class="infoBox">
            <h5> <i class="fa fa-pencil" aria-hidden="true"></i> NAME</h5>
          </div>
          <a href="#" editable-text="theAlert.Name" onbeforesave="checkField($data)" >{{ theAlert.Name || '' }}</a>

          <div class="infoBox">
            <h5> <i class="fa fa-pencil-square" aria-hidden="true"></i> DESCRIPTION</h5>
          </div>
          <a href="#" editable-text="theAlert.Description" onbeforesave="checkField($data)" >{{ theAlert.Description || '' }}</a>

          <div class="infoBox">
            <h5> <i class="fa fa-plus-square" aria-hidden="true"></i> DETAILS</h5>
          </div>
          <a href="#" editable-text="theAlert.Details" onbeforesave="checkField($data)" >{{ theAlert.Details || '' }}</a>

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Box</a></li>
                <li><a href="#">Godaddy</a></li>
                <li><a href="#">Google Apps</a></li>
                <li><a href="#">Salesforce</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
